body{
    background-image: linear-gradient( to top, rgba(102, 97, 97, 0.829), rgba(114, 5, 5, 0.849), rgba(24, 23, 23, 0.815));
    height: 1920px;
    width: 1080;
}
html{
    scroll-behavior: smooth;
}
.header{
    background: rgb(20, 20, 20);
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    line-height: 25px;
    height: 300px;
    width: 100%;
    color: red;
    }
.logo {
    height: 100%;
    width: 25%;
    left: 0px;
    text-align: center;
    float: left;
}

    .logo img{
    height: 100%;
    width: 100%;
    animation-name: logi;
    animation-duration: 3s;
}
    @keyframes logi{
        0%{
            opacity: 0;
        }
        100%{
            opacity: 1;
        }
    }

.navegacion{
    height: 100%;
    width: 75%;
    text-align: center;
    top: 50%;
    float: right;
}
.navegacion ul{
    list-style: none;
    padding-top: 5%;
}
    .menuPrincipal > li{
        position: relative;
        display: inline-block;
        animation-name: nav;
        animation-duration: 1s;
    }
    @keyframes nav{
        0%{
            font-size: 1px;
        }
        100%{
            font-size: 35px;
        }
    }
        .menuPrincipal > li > a{
            display: block;
            color: brown;
            padding: 5% 50px;
            text-decoration: none;
        }
        .menuPrincipal  li  a{
            transition: all 1.5s;
        }
        .menuPrincipal  li  a:hover{
            color: cornflowerblue;
            font-size: 50px;
        }

            /*SUBMENU GUITARRAS*/
            .subGuitarras{
                position: absolute;
                visibility: hidden;
                opacity: 0;
                transition: all 0.8s;
                height: 120%;
                width: 120%;
            }
                .subGuitarras li a{
                    display: block;
                    text-decoration: none;
                    padding: 10px 10px;
                }
                    .navbar-nav li:hover .subGuitarras{
                        visibility: visible;
                        opacity: 1;
                    }
h1{
    background-color: blue;
    color: yellow;
}


    /*---- Se aplica @media a la sección galería ----

    @media only screen and (min-width: 480px){
        .galeria{
            background-image: url(../img/guitarras/pgguitarras/9.jpg);
            background-size:cover;
            background-repeat: no-repeat;
            background-position: center;
        }
    }
    @media only screen and (min-width: 600px){
        .galeria{
            background-image: url(../img/guitarras/pgguitarras/11.jpeg);
            background-size:cover;
            background-repeat: no-repeat;
            background-position: center;
        }
    }
    @media only screen and (min-width: 768px){
        .galeria{
            background-image: url(../img/guitarras/pgguitarras/12.jpeg);
            background-size:cover;
            background-repeat: no-repeat;
            background-position: center;
        }
    }
*/
footer{
    height: 250px;
    width: auto;
    background-color:rgba(102, 97, 97, 0.938);
    background-size: 100%;
    display: flex;
    flex-flow: wrap row;
    justify-content: space-around;
}
    footer p .derechos{
        text-align-last:right;
        margin-top: 25px;
        top: 90%;
        left: 50%;
}
.redesSociales{
    font-size: 50px;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
}
.mapa{
    order: 1;
    margin: 50px;
}